/* ********** reset start ********** */
/* Taken from Eric Meyer - http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }

del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* ********** reset end ********** */
#blackblock { background: black; width: 400px; height: 100px; position: relative; }
#blackblock #color1 { background: rgba(74, 80, 97, 0.25); width: 100px; height: 100px; top: 0px; left: 0px; position: absolute; }
#blackblock #color2 { background: rgba(74, 80, 97, 0.5); width: 100px; height: 100px; top: 0px; left: 100px; position: absolute; }
#blackblock #color3 { background: rgba(74, 80, 97, 0.75); width: 100px; height: 100px; top: 0px; left: 200px; position: absolute; }
#blackblock #color4 { background: rgba(74, 80, 97, 0.9); width: 100px; height: 100px; top: 0px; left: 300px; position: absolute; }

#whiteblock { background: white; width: 400px; height: 100px; position: relative; }
#whiteblock #color5 { background: #4a5061; width: 100px; height: 100px; top: 0px; left: 0px; position: absolute; }
#whiteblock #color6 { background: rgba(74, 80, 97, 0.75); width: 100px; height: 100px; top: 0px; left: 100px; position: absolute; }
#whiteblock #color7 { background: rgba(74, 80, 97, 0.5); width: 100px; height: 100px; top: 0px; left: 200px; position: absolute; }
#whiteblock #color8 { background: rgba(74, 80, 97, 0.25); width: 100px; height: 100px; top: 0px; left: 300px; position: absolute; }

#blackblocknoalpha { width: 400px; height: 100px; position: relative; }
#blackblocknoalpha #color1 { background: #121418; width: 100px; height: 100px; top: 0px; left: 0px; position: absolute; }
#blackblocknoalpha #color2 { background: #252830; width: 100px; height: 100px; top: 0px; left: 100px; position: absolute; }
#blackblocknoalpha #color3 { background: #373c48; width: 100px; height: 100px; top: 0px; left: 200px; position: absolute; }
#blackblocknoalpha #color4 { background: #424857; width: 100px; height: 100px; top: 0px; left: 300px; position: absolute; }

#whiteblocknoalpha { width: 400px; height: 100px; position: relative; }
#whiteblocknoalpha #color5 { background: #4a5061; width: 100px; height: 100px; top: 0px; left: 0px; position: absolute; }
#whiteblocknoalpha #color6 { background: #777b88; width: 100px; height: 100px; top: 0px; left: 100px; position: absolute; }
#whiteblocknoalpha #color7 { background: #a4a7b0; width: 100px; height: 100px; top: 0px; left: 200px; position: absolute; }
#whiteblocknoalpha #color8 { background: #d1d3d7; width: 100px; height: 100px; top: 0px; left: 300px; position: absolute; }

/* ********** layout start ********** */
body { background: url("../images/underline21.gif"); margin: 3em 6em; }

.sidenote { width: 12em; margin-right: 0; position: absolute; top: 0; left: 600px; }

.footnote { border-top: 0.083em solid black; margin-top: 2.25em; padding-top: 0.667em; margin-left: 0; width: 45.5em; }

.content { position: relative; width: 300px; }

/* ********** layout end ********** */
/* ********** typography start ********** */
body { font: 14px / 1.5 Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.sidenote { font-size: 0.7em; line-height: 2.143; margin-top: 0em; margin-bottom: 0em; }

p { font-size: 1em; line-height: 1.5; margin-top: 1.379em; margin-bottom: 1.379em; width: 33em; padding-top: 0.05em; padding-bottom: 0.05em; border-width: 1px 0 1px 0; border-style: solid; border-color: black; }

h1 { font-size: 2em; line-height: 1.5; margin-top: 0em; margin-bottom: 0em; font-weight: normal; }

h2 { font-size: 1.167em; line-height: 1.286; margin-top: 0em; margin-bottom: 0em; font-weight: normal; }

h3 { font-size: 4em; line-height: 1.125; margin-top: 0.245em; margin-bottom: 0.245em; font-weight: normal; border-width: 1px 0 1px 0; padding-top: 0.3em; padding-bottom: 0.3em; border-style: solid; border-color: black; background: green; }
